:host ::ng-deep {
  p, ol, ul, pre, blockquote, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  blockquote {
    border-left: 3px solid #ccc;
    margin: 5px 0;
    padding-left: 16px;
  }

  .ql-indent-1 {
    padding-left: 3em;
  }

  .ql-indent-2 {
    padding-left: 6em;
  }
  .ql-indent-3 {
    padding-left: 9em;
  }

  .ql-indent-4 {
    padding-left: 12em;
  }

  .ql-indent-5 {
    padding-left: 15em;
  }

  .ql-indent-6 {
    padding-left: 18em;
  }

  .ql-indent-7 {
    padding-left: 21em;
  }

  .ql-indent-8 {
    padding-left: 24em;
  }

  .ql-align-right {
    padding-left: 0;
    text-align: right;
  }

  .ql-align-center {
    padding-left: 0;
    text-align: center;
  }
}
