<fs-editor-rich-text [options]="options" [(ngModel)]="model" name="editor"></fs-editor-rich-text>

<ng-container *ngIf="model">
  <fieldset>
    <legend>HTML</legend>
    <div fsEditorRenderer [content]="model"></div>
  </fieldset>

  <fieldset>
    <legend>Text</legend>
    <div fsEditorRenderer [content]="model" format="text"></div>
  </fieldset>

  <fieldset>
    <legend>Quill Object</legend>
    {{model|json}}
  </fieldset>
</ng-container>

<button mat-raised-button (click)="set()">Set Content</button>

