.editor-container {
  * {
    outline: none;
  }

  .ql-editor {
    overflow: hidden;
  }

  .ql-clipboard {
    display: none;
  }

  .ql-formats {
    margin-right: 15px;

    button,
    .ql-picker {
      display: inline-block;
      vertical-align: middle;
      padding: 0 6px;
      cursor: pointer;
    }

    button {
      background: transparent;
      border: none;

      .material-icons {
        color: #444;
        transform: scale(0.85);
      }
    }

    .ql-picker {
      color: #444;
      line-height: 26px;
      height: 26px;
      position: relative;
      vertical-align: middle;

      &.ql-header {
        padding-left: 0;
        min-width: 85px;
        margin-right: -15px;

        svg {
          display: none;
        }

        .ql-picker-label {
          &[data-value]:not([data-value=""])::before {
            content: "Heading " attr(data-value) " ▾";
          }

          &::before {
            content: "Normal ▾";
          }
        }

        .ql-picker-item {
          display: block;
          line-height: normal;
          padding-bottom: 8px;

          &:last-child {
            padding: 0;
          }

          &[data-value]:not([data-value=""])::after {
            content: "Heading " attr(data-value);
          }

          &::after {
            content: "Normal";
          }

          &[data-value="1"] {
            font-size: 150%;
          }

          &[data-value="2"] {
            font-size: 140%;
          }

          &[data-value="3"] {
            font-size: 130%;
          }

          &[data-value="4"] {
            font-size: 120%;
          }

          &[data-value="5"] {
            font-size: 110%;
          }
        }
      }

      .ql-picker-options {
        border-color: #ccc;
        display: block;
        margin-top: -1px;
        top: 100%;
        z-index: 1;
        border: 1px solid transparent;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
        background-color: #fff;
        display: none;
        padding: 8px;
        position: absolute;
        white-space: nowrap;
        border-radius: 4px;
      }

      &.ql-expanded {
        .ql-picker-options {
          display: block;
        }
      }
    }

    .ql-color-picker {
      .ql-picker-options {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      &.ql-expanded .ql-picker-options {
        display: grid;
        grid-gap: 2px;
      }

      .ql-picker-item {
        border: 1px solid transparent;
        height: 16px;
        width: 16px;
      }
    }
  }

  .ql-tooltip {
    display: none;
  }

  .ql-toolbar {
    position: sticky;
    top: 0;
    background: #fff;
    display: block;
    z-index: 99;
    border-bottom: 1px solid #dfdfdf;
    padding: 7px 0;
  }

  .ql-container {
    border-bottom: 1px solid #949494;
    position: relative;
  }

  .bottom-line {
    opacity: 0;
    transform-origin: 50%;
    transform: scaleX(0.5);
    transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    width: 100%;
    border-bottom: 1px solid #949494;
    position: absolute;
    bottom: 0;
  }
}

.fs-editor-default {
  p,
  ol,
  ul,
  pre,
  blockquote,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
    padding: 0;
    line-height: normal;
  }

  h1 {
    margin: 15px 0;
  }

  h2 {
    margin: 10px 0;
  }

  h3 {
    margin: 5px 0;
  }

  blockquote {
    border-left: 3px solid #ccc;
    margin: 5px 0;
    padding: 6px 16px;
  }

  .ql-syntax {
    background: #ececec;
    font-size: 88%;
    padding: 10px;
    border-radius: 3px;
    font-family: monospace;
  }

  img {
    max-width: 100%;
  }

  li {
    margin: 5px 0;
    margin-left: 25px;
    list-style-type: none;
    counter-increment: list-0;

    &::before {
      margin-right: 0.3em;
    }
  }

  li.ql-indent-1 {
    margin-left: 100px;
    counter-increment: list-1;
  }

  li.ql-indent-2 {
    margin-left: 150px;
    counter-increment: list-2;
  }

  li.ql-indent-3 {
    margin-left: 200px;
    counter-increment: list-3;
  }

  li.ql-indent-4 {
    margin-left: 250px;
    counter-increment: list-4;
  }

  li.ql-indent-5 {
    margin-left: 300px;
    counter-increment: list-5;
  }

  ul {
    li:before {
      content: "\2022";
    }
  }

  ol {
    li:before {
      content: counter(list-0, decimal) ".";
    }

    li.ql-indent-1:before {
      content: counter(list-1, lower-alpha) ".";
    }

    li.ql-indent-2:before {
      content: counter(list-2, lower-roman) ".";
    }

    li.ql-indent-3:before {
      content: counter(list-3, decimal) ".";
    }

    li.ql-indent-4:before {
      content: counter(list-4, lower-alpha) ".";
    }

    li.ql-indent-5:before {
      content: counter(list-5, lower-roman) ".";
    }
  }
}

fs-editor-rich-text {
  position: relative;
  display: block;

  &.focused {
    .bottom-line {
      opacity: 1;
      display: block;
      transform: scaleX(1);
      transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.1s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
}

@mixin fs-editor($theme) {
  $primary: mat-palette($theme);

  fs-editor-rich-text.focused {
    .bottom-line {
      border-color: mat-color($primary);
    }
  }
}
