<ng-container *ngIf="(initialized | async) || initializing; else clickInit">
  <fs-label-field *ngIf="options.label || options.hint; else editorContainer" [topMargin]="options.label">
    <fs-label *ngIf="options.label" class="fs-form-label">{{ options.label }}</fs-label>
    <ng-container *ngTemplateOutlet="editorContainer"></ng-container>
    <fs-label-message class="fs-form-message">
      <div class="fs-form-hint" *ngIf="options.hint">{{options.hint}}</div>
    </fs-label-message>
  </fs-label-field>
</ng-container>

<ng-template #clickInit>
  <div (click)="initializeEmpty()" class="click-panel" [ngClass]="{ 'has-content': ngModel && ngModel.length }" *ngIf="options.initOnClick">
    <div class="edit">
      <button mat-icon-button class="edit-placeholder" (click)="initialize()"><mat-icon>edit</mat-icon></button>
      <button mat-mini-fab class="edit-initialize" (click)="initialize()"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="click-panel-container">
      <span
        fsEditorRenderer
        [content]="ngModel"
        [renderCustomBlot]="options.renderCustomBlot"
        *ngIf="ngModel && ngModel.length; else placeholder">
      </span>
      <ng-template #placeholder><span class="placeholder">{{options.placeholder}}</span></ng-template>
    </div>
  </div>
</ng-template>

<ng-template #editorContainer>
  <div class="editor-container" [ngClass]="{ 'fade-in': options.initOnClick }">
    <div class="editor fs-editor-default" #editor></div>
  </div>
</ng-template>
