:host {
  z-index: 100;
  ::ng-deep {

    .ql-container,
    .ql-toolbar {
      font: inherit !important;
    }

    .ql-container,
    .ql-toolbar {
      border-color: #eaeaea !important;
    }

    .ql-editor blockquote {
      border-width: 3px !important;
    }
  }
}
