:host {

  ::ng-deep {
    .ql-snow .ql-editor blockquote {
      margin-top: 0;
      margin-bottom: 0;
      border-width: 3px;
    }
  }
}

.editor-container.fade-in {
  animation: fadein 1s;
}

.char-count {
  float: right;
}

.click-panel {
  position: relative;

  &:not(.has-content) {
    cursor: pointer;
    .edit {
      display: none;
    }
  }

  .edit {
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 1;

    .edit-placeholder {
      color: #ccc;
    }

    .edit-initialize {
      display: none;
    }
  }

  .click-panel-container {
    .placeholder {
      color: rgba(0,0,0,.54);
    }
  }

  &:hover {

    .edit {
      .edit-placeholder {
        display: none;
      }

      .edit-initialize {
        display: block;
      }
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
