@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";


.ql-formats {
  button {
    padding: 0 !important;

    .material-icons {
      color: #444;
      transform: scale(.85);
    }
  }
}
